.div_a 
{
    
    background-color: red;
    border:2px solid green;
    height: 50px;
    width: 50px;
    margin-top: 100px;
    

}

.div_b{
    background-color: black;
    height: 50vh;
    width: 50vw;
    border:10px dashed red;
    margin-left: 100px;
    


}