.div_a
{
    background-color:rgb(226, 131, 245);
    height: 250px;
    width: 50vw;
    display: flex;
    justify-content:center;

}

.div_b
{
    background-color: rgb(252, 54, 202);
    height: 100vh;
    width: 250px;
    border:20px dashed red;

}

.div_c
{
    background-color: #7fffd4;
    height: 88%;
    width: 30%;
    


}